@tailwind components;

@layer components {
  .card {
    @apply rounded-bl-lg rounded-tl-md
     shadow-md bg-slate-500;
  }
  .btn {
    @apply select-none 
     bg-red-400 active:opacity-5 
     duration-500;
  }
  .cart {
    @apply bg-cyan-300  w-full pt-2
     hover:bg-red-300 duration-700 
     active:opacity-5 cursor-pointer;
  }
  .image {
    @apply object-cover h-full  rounded-md;
  }
}
